{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<h1>Home</h1>
<div>{{ request.user }}</div>
<a href="{% url 'register user' %}">Register</a>
<a href="{% url 'login user' %}">Login</a>
<a href="{% url 'logout user' %}">Logout</a>
{#<a href="{% url 'delete user' user.pk %}">Delete profile</a>#}
<a href="{% url 'profile details' request.user.id %}">Profile</a>
</body>
</html>